<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <!-- <li>
                    <i class="fab fa-github"></i>
            </li>-->
            <li>
                    <i class="fab fa-facebook"></i>
            </li> 
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:contact@madatech.mg" target='_blank'>contact&#64;madatech.mg </a>
        </div>
    </div>

    <div class="footer-credits text-center" >
        <a href="#" target="_blank" rel="nofollow noopener noreferrer">
            <div>Built with Angular by Jose Andres</div>
        </a>
        <a href="#" class="cursor-pointer">
            <div class="mt-2">Rebuilt by Miandritiana Andrianandrasana</div>
        </a>
    </div>

</footer>