<section class="section banner w-100">
    <div [@bannerTrigger] class="container pt-5 pb-5">
        <!-- <div class="row"> -->
            <!-- <div class="col-6"> -->
                <div class="col-6 section-box-banner d-flex justify-content-center p-4">
                    <div class="content">
                        <div>
                            <h1>{{"Banner.Pretitle" | translate}}</h1>
                        </div>
                        <div class='banner-title'>
                            <h3>Transformons vos idées en réalité numérique.</h3>
                        </div>
                        <div class='banner-description'>
                            <p class="mt-4">Le meilleur qualité au meilleur prix.</p>
                        </div>
                    </div>
                    <div class="div-btn-banner" (click)='analyticsService.sendAnalyticEvent("click_contact", "menu", "click")'>
                        <a (click)='scroll("contact")' target="_black" class="main-btn">
                            {{"Banner.ActionBtn" | translate}}
                        </a>
                    </div>
                </div>
            <!-- </div> -->
            <div class="about-img-container col-6 text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="">
                    <img width="160%" src="assets/images/3dImg/pikaso no bg.png">
                </div>
            </div>
        <!-- </div> -->
    </div>
</section>
