<section class="section" id="contact">
  <div class="container contact">
    <div class="section-box">
      <div class="mb-4" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="contact-pre-title big-subtitle">
          {{ "Contact.Pretitle" | translate }}
        </h3>
        <h4 class="e-font contact-title big-title">
          {{ "Contact.Title" | translate }}
        </h4>
        <p data-aos="fade-up" data-aos-duration="1000">
          {{ "Contact.Content" | translate }}
        </p>
      </div>
      <div class="mt-5" data-aos="fade-up" data-aos-duration="1000">
        <div class="row justify-content-center flex-nowrap" >

          <div *ngFor="let contact of 'Contact.contacts' | translate" class="col-auto">
            <div class="contact-item d-flex align-items-center mb-5">
              <i class="fas fa-2x"
                  [ngClass]="{
                    'fa-phone': contact.Icon === 'phone',
                    'fa-map-marker-alt': contact.Icon === 'localisation',
                    'fa-envelope': contact.Icon === 'mail'
                  }"></i>
              <span *ngIf="contact.Icon !== 'mail'" class="ms-2 text-white contact-content">
                {{ contact.content }}
              </span>
              <a *ngIf="contact.Icon === 'mail'" href="mailto:{{ contact.content }}" class="ms-2 text-white contact-content">
                {{ contact.content }}
              </a>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </div>
</section>
